In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Castro,-24.79,-50.01,77.14,34,0,3.62,BR,2020-11-07 14:53:37
1,1,Umm Kaddadah,13.60,26.69,86.09,15,16,12.19,SD,2020-11-07 14:53:37
2,2,Yingcheng,30.95,113.55,55.40,93,0,5.19,CN,2020-11-07 14:53:38
3,3,La Ronge,55.10,-105.28,6.80,92,87,4.23,CA,2020-11-07 14:53:38
4,4,Bayanday,53.07,105.51,17.44,91,94,1.36,RU,2020-11-07 14:53:38

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Castro,-24.79,-50.01,77.14,34,0,3.62,BR,2020-11-07 14:53:37
1,1,Umm Kaddadah,13.60,26.69,86.09,15,16,12.19,SD,2020-11-07 14:53:37
6,6,Orocue,4.79,-71.34,86.45,63,3,6.98,CO,2020-11-07 14:53:38
7,7,Vaini,-21.20,-175.20,66.20,93,20,4.70,TO,2020-11-07 14:53:38
12,12,Port Alfred,-33.59,26.89,72.50,74,34,18.10,ZA,2020-11-07 14:53:40
13,13,Isangel,-19.55,169.27,76.48,84,5,6.11,VU,2020-11-07 14:53:40
14,14,Atuona,-9.80,-139.03,76.91,74,70,16.51,PF,2020-11-07 14:53:40
15,15,Honiara,-9.43,159.95,75.20,100,20,4.70,SB,2020-11-07 14:53:40
20,20,Rikitea,-23.12,-134.97,71.80,71,60,18.34,PF,2020-11-07 14:53:41
21,21,Ugoofaaru,5.67,73.00,84.13,75,99,18.34,MV,2020-11-07 14:53:41

In [11]:
preferred_cities_df.count()

City_ID       258
City          258
Lat           258
Lng           258
Max Temp      258
Humidity      258
Cloudiness    258
Wind Speed    258
Country       255
Date          258
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0         Castro      BR     77.14 -24.79  -50.01
1   Umm Kaddadah      SD     86.09  13.60   26.69
6         Orocue      CO     86.45   4.79  -71.34
7          Vaini      TO     66.20 -21.20 -175.20
12   Port Alfred      ZA     72.50 -33.59   26.89
13       Isangel      VU     76.48 -19.55  169.27
14        Atuona      PF     76.91  -9.80 -139.03
15       Honiara      SB     75.20  -9.43  159.95
20       Rikitea      PF     71.80 -23.12 -134.97
21     Ugoofaaru      MV     84.13   5.67   73.00

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

            City Country  Max Temp    Lat     Lng                  Hotel Name
0         Castro      BR     77.14 -24.79  -50.01              CHACARA BAILLY
1   Umm Kaddadah      SD     86.09  13.60   26.69
6         Orocue      CO     86.45   4.79  -71.34  Hotel Brisas de San Miguel
7          Vaini      TO     66.20 -21.20 -175.20         Keleti Beach Resort
12   Port Alfred      ZA     72.50 -33.59   26.89          The Halyards Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]