## Deliverable 3. Create a Travel Itinerary Map.

In [60]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [61]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation1.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Port Alfred,ZA,68.41,clear sky,-33.59,26.89,The Halyards Hotel
1,1,Punta Arenas,CL,60.80,scattered clouds,-53.15,-70.92,Hotel Dreams Del Estrecho
2,2,Ushuaia,AR,60.80,broken clouds,-54.80,-68.30,Albatros Hotel
3,3,Georgetown,MY,78.80,light rain,5.41,100.34,Cititel Penang
4,4,Hithadhoo,MV,82.87,moderate rain,-0.60,73.08,Scoop Guest House

In [62]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [63]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Howell"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Howell"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Saint Anthony"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Macomb"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Holland"]

In [76]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[{"Lat", "Lng"}].to_numpy()[0]
end = vacation_end[{"Lat", "Lng"}].to_numpy()[0]
stop1 = vacation_stop1[{"Lat", "Lng"}].to_numpy()[0]
stop2 = vacation_stop2[{"Lat", "Lng"}].to_numpy()[0]
stop3 = vacation_stop3[{"Lat", "Lng"}].to_numpy()[0]
start

array([ 42.61, -83.93])

In [79]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,667,Howell,US,71.60,clear sky,42.61,-83.93,Kensington Inn
1,512,Saint Anthony,US,73.99,clear sky,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
2,574,Macomb,US,72.00,clear sky,40.46,-90.67,Hampton Inn Macomb
3,513,Holland,US,70.00,clear sky,42.79,-86.11,Hampton Inn Holland

In [92]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [94]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))